<title>设置我的密码</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>设置</cite></a>
    <a><cite>我的密码</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">修改密码</div>
        <div class="layui-card-body" pad15>

          <div class="layui-form" lay-filter="">
            <div class="layui-form-item">
              <label class="layui-form-label">当前密码</label>
              <div class="layui-input-inline">
                <input type="password" name="oldPassword" lay-verify="required" lay-verType="tips" class="layui-input"  onclick="this.src='/home/token?'+new Date().getTime();">
              </div>
            </div>

            <script type="text/html" template lay-url="/home/token">
              <div class="layui-form" lay-filter="">
                <div class="layui-form-item" >
                  <div class="layui-input-inline">
                    <!--         hidden         15c890958326b4f5cafc182616708eef250760ab ,c6f29e5f7ee627f5978549a488a6113819a16a0a   {{d.data}}   <?php echo token(); ?> -->
                    <input type="hidden" name="__token__" value="{{d.data}}">
                  </div>
                </div>
              </div>
            </script>


            <div class="layui-form-item">
              <label class="layui-form-label">新密码</label>
              <div class="layui-input-inline">
                <input type="password" name="password" lay-verify="pass" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">6到16个字符</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">确认新密码</label>
              <div class="layui-input-inline">
                <input type="password" name="repassword" lay-verify="repass" lay-verType="tips" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="setmypass">确认修改</button>
                <button class="layui-btn" lay-submit lay-filter="resmypass">重置密码</button>
                <h3>        重置密码为123456</h3>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function reimg(){
    var input = document.getElementById("input");
    input.src = "<?=$Verify['url']?>?rnd=" + Math.random();
  }
</script>

<script>
  //layui.use('set', layui.factory('set'));
  //layui.use('set', layui.factory('set'));
  layui.use(['admin','layer','form'], function(){
    var $ = layui.$
            ,admin = layui.admin
            ,view = layui.view
            ,layer =layui.layer
            ,form = layui.form;
    form.on('submit(setmypass)',function (data){
      var data = data.field;
      //console.log(data);
      admin.req({
        url:'/home/spwd'
        ,data:data
        ,type:'post'
        ,success:function (res){
          if (res.status==0){
            layer.alert(res.msg);
            // layer.form.reload('layui-form');
            layer.close(index);
          }else{
            layer.alert(res.msg);
            icon: 1;
          }
        }
      })
    })

  });
  layui.use(['admin','layer','form'], function(){
    var $ = layui.$
            ,admin = layui.admin
            ,view = layui.view
            ,layer =layui.layer
            ,form = layui.form;
    form.on('submit(resmypass)',function (data){
      var data = data.field;
      console.log(data);
      admin.req({
        url:'/home/respwd'
        ,data:data
        ,type:'post'
        ,success:function (res){
          if (res.status==0){
            layer.alert(res.msg);
            layer.form.reload('layui-form');
            layer.close(index);
          }else{
            layer.alert(res.msg);
            icon: 1;
          }
        }
      })
    })
  });
</script>