

<title>分类管理</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>应用</cite></a>
    <a><cite>分类管理</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-header layuiadmin-card-header-auto">
      <button class="layui-btn layuiadmin-btn-tags" data-type="add">添加</button>
      <button class="layui-btn layuiadmin-btn-tags" data-type="del">删除</button>
    </div>
    <div class="layui-card-body">
      <table id="LAY-app-content-tags" lay-filter="LAY-app-content-tags"></table>
<!--               LAY-popup-content-tags               layuiadmin-form-tags  -->
      <script type="text/html" id="layuiadmin-app-cont-tagsbar">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
      </script>
    </div>
  </div>
</div>

<script>
  layui.use('contlist', layui.factory('contlist')).use(['admin', 'contlist', 'table'], function(){
    var $ = layui.$
            ,admin = layui.admin
            ,view = layui.view
            ,table = layui.table
            ,layer =layui.layer
            ,form = layui.form;
//分类管理
    table.render({
      elem: '#LAY-app-content-tags'
      ,url: '/links' //模拟接口
      ,cols: [[
        {type: 'numbers', fixed: 'left'}
        ,{field: 'id', width: 90, title: 'ID', sort: true}
        ,{field: 'url', title: '目标网址', minWidth: 100}
        ,{field: 'link', title: '短链', minWidth: 20,width:74}
        ,{field: 'date', title: '创建日期', minWidth: 20,width:124}
        ,{field: 'hits', title: '点击', minWidth: 20,width:60}
        ,{field: 'pass', title: '密码', minWidth: 20,width:60}
        ,{field: 'custom', title: '链接', minWidth: 20,width:60}
        ,{field: 'last_visit', title: '新访问', minWidth: 100,width:124}
        ,{title: '操作', width: 150, align: 'center', fixed: 'right', toolbar: '#layuiadmin-app-cont-tagsbar'}
      ]]
      ,page:true
      ,limit:20
      ,limits:[10,25,50,75,100,300,800]
      ,text: '对不起，加载出现异常！'
    });

    //监听工具条
    table.on('tool(LAY-app-content-tags)', function(obj){
      var data = obj.data;
      if(obj.event === 'del'){
        // layer.msg(data.id);
        // return;
        //console.log(data);
        layer.confirm('确定删除此分类？', function(index){
          admin.req({
            url:"/links/del",
            data:data,
            type: 'post',
            success:function (res){
              //console.log(res);
              if(res.status==0){
                obj.del();
                layer.msg(res.msg);
                layer.close(index);
              }
            }
          })

        });
      } else if(obj.event === 'edit'){
        admin.popup({
          title: '编辑分类'
          ,area: ['450px', '300px']
          ,id: 'LAY-popup-content-tags'
          ,success: function(layero, index){
            view(this.id).render('home/home1_form', data).done(function(){
              form.render(null, 'layuiadmin-form-tags');

              //监听提交
              form.on('submit(layuiadmin-app-tags-submit)', function(data){
                var field = data.field; //获取提交的字段
console.log(field);
                //提交 Ajax 成功后，关闭当前弹层并重载表格
                //$.ajax({});
                admin.req({
                  url:'/links/edit',
                  data:field,
                  type:'post',
                  success:function (res){
                    if(res.status==0){
                      layer.msg(res.msg);
                      layui.table.reload('LAY-app-content-tags'); //重载表格
                      layer.close(index); //执行关闭
                    }else {
                      layer.msg(res.msg)
                      layer.close(index); //执行关闭
                    }
                  }
                })

              });
            });
          }
        });
      }
    });

    var active = {
      add: function(){
        admin.popup({
          title: '添加分类'
          ,area: ['450px', '350px']
          ,id: 'LAY-popup-content-tags'
          ,success: function(layero, index){
            view(this.id).render('home/home1_form').done(function(){
              form.render(null, 'layuiadmin-form-tags');

              //监听提交
              form.on('submit(layuiadmin-app-tags-submit)', function(data){
                var field = data.field; //获取提交的字段
                admin.req({
                  url:'/links/addlink',
                  data:field,
                  type:'post',
                  success:function (res){
                    //console.log(res)
                    if(res.status==0){
                      layer.msg(res.msg);
                      layui.table.reload('LAY-app-content-tags');
                      layer.close(index);
                    }
                    layer.msg(res.msg)
                  }
                })
                //alert(JSON.stringify(field));
                //提交 Ajax 成功后，关闭当前弹层并重载表格
                //$.ajax({});
                layui.table.reload('LAY-app-content-tags'); //重载表格
                layer.close(index); //执行关闭
              });
            });
          }
        });
      }
      ,del: function(){
        alert('del');
      }
    }
    $('.layui-btn.layuiadmin-btn-tags').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
</script>